body {
  background-color: #7d8ca3;
  text-shadow: 10px;
  color: #5a739b
}

h1 {
  background-color: #bdc2c9;
}

p {
  border: 2px dotted black;
}

.page-content {
  background-color: #705582;
}

#unique-p-tag {
  background-color: blue
}

#unique-p-tag {
  background-color: gray
}
